@font-face {
  font-family: 'Dubiel';
  src: url('/assets/fonts/DubielItalic.woff2') format('woff2'),
       url('/assets/fonts/DubielItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
:root {
  --color-principal: #1c1c1c;
  --color-secundario: #3d3d3d;
  --color-fondo: #454545;
  --color-texto: #f6f6f6;
  --color-texto-secundario: #e7e7e7;
  --gold-crayola: hsl(38, 61%, 73%);
   
  /*Fuentes*/
  --font-family: 'Dubiel', sans-serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --backgroundcolor: #1c1c1c;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html{
    font-size: 62.5%;
}
body{
    background-color: #111;
    font-family: "Roboto", sans-serif;
    color: #fff;
}
h1{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); /* Transparente */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.nav-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  font-size: 2.5rem;
  font-family: var(--font-italic);
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav-links li a { 
  text-decoration: none;
  color: var(--color-texto);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: var(--color-secundario);
}

header nav a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
}

/*footer*/
footer {
  background: #111;
  font-family: var(--font-italic);
}
.nav-footer{
  padding: 4rem;
  font-size: 0.9rem;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  font-family: var(--font-italic);
  flex-wrap: wrap;
}

.nav-footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap; /* para que no se desborde en pantallas pequeñas */
}


header nav a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
}