@font-face {
    font-family: 'DubielPlain';
    src: url('DubielPlain.woff2') format('woff2'),
        url('DubielPlain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubiel';
    src: url('DubielItalic.woff2') format('woff2'),
        url('DubielItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

